body {
  background-color: $background-color;
  transition-duration: 1s;
}

.content {
  padding: 25px 0;
}

.btn-main {
  background-color: $primary-color;
  border-radius: 0;
  color: white;
  font-family: Raleway, serif;
  padding: 12px 24px;
  font-size: 20px;
  transition-duration: 0.2s;
}

.btn-main:hover, .btn-main:focus {
  color: white;
  background-color: $primary-color-hover;
}

.page-title {
  transition-duration: 1s;
  color: $main-text-color;
  font-size: 58pt;
  font-weight: 200;
}

.subtitle {
  transition-duration: 1s;
  color: $main-text-color;
  font-size: 15pt;
  font-family: 'Segoe UI', Segoe UI, serif;
  font-weight: 100;
  margin: 20px 0;
}

.page-head-image {
  max-width: 200px;
}

.light-theme .page-title {
  color: $primary-color;
}

.light-theme .subtitle {
  color: $primary-color;
}

.light-theme {
  background-color: $background-color-light;
}

.footer {
  background-color: $footer-color;
  color: $main-text-color;
  transition: 0.2s;
}

.light-theme .footer {
  background-color: $footer-color-light;
  color: #636b6f;
}

.footer h5 {
  font-size: 16px;
}

.footer a {
  transition-duration: 0.2s;
  color: $main-text-color;
}

.footer a:hover {
  color: #f1f1f1;
}
.light-theme .footer a {
  transition-duration: 0.2s;
  color: #636b6f;
}

.light-theme .footer a:hover {
  color: #404548;
}