body {
  background-color: $background-color;
}

.content {
  padding: 25px 0;
}

.btn-main {
  background-color: $primary-color;
  border-radius: 0;
  color: white;
  font-family: Raleway, serif;
  padding: 12px 24px;
  font-size: 20px;
}

.btn-main:hover, .btn-main:focus {
  color: white;
}

.page-title {
  color: $main-text-color;
  font-size: 58pt;
  font-weight: 200;
}

.subtitle {
  color: $main-text-color;
  font-size: 15pt;
  font-family: 'Segoe UI', Segoe UI, serif;
  font-weight: 100;
  margin: 20px 0;
}

.page-head-image {
  max-width: 200px;
}

.footer {
  background-color: $footer-color;
}